textarea#input {
    width: 100%;
    height: 50vh;
    max-height: 300px;
}
.board {
    border: 1px solid black;
    border-collapse: collapse;
}

.board .cell {
    box-sizing: border-box;
    padding: 0;
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    border-collapse: collapse;
}

.cell--black {
    background-color: black;
}
.cell--split {
    position: relative;
    overflow: hidden;
}
.cell--split::after {
    content: "";
    position: absolute;
    border: 0.5px solid darkgray;
    height: 140%;
    transform: rotate(-45deg);
    transform-origin: 0% 0%; 
    top: 0;
}
.sum {
    position: absolute;
}
.sum__down {
    bottom: 0;
    left: 0;
}
.sum__right {
    right: 0;
    top: 0; 
}
.error {
    font-family: Courier New, Courier, monospace;
    white-space: pre-wrap;
}